*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}



body{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-image: url("/images/1b54e4f67408c08995992bacc9e8b802.jpg");
    padding-bottom: 220px;
    
}


h2{
    text-align: center;
    padding: 25px;
}

.contenedor{
    border-radius: 5px;
    padding-top: 5px;
    background-color: #33266388;
    padding: 5px;
}

.usuario{
    text-align: center;
}

.contraseña{
    padding: 20px;
    text-align: center;
}

input{
    font-size: 30px;
    text-align: center;   
    border-radius: 20px;
    outline: none;
    border: 1px silver;
}

.footer{
    text-align: center;
    display: flex;
    padding: 10px;
}

.boton{
    border-radius: 10px;
    background-color: #474997;
    border: 1px solid black;
    padding: 8px;
    font-size: 23px;
    margin: 30px 60px 30px 60px;
}

.remember{
        padding-left: 10px;
        padding-right: 30px;
}   

.boton:hover{
    background-color: #ae3232;
    transition-duration: 0,5;
    color: white;
    border: white;
}





