*{
    margin: 1px;
    border: 0%;
    padding: 0%;
    border:0;
}

header{
    background-color: #24093be4;
}

/*header{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 42px;
    width: 100%;
    
  
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #33266397;
}
.buscar{
    padding: 5px;
    justify-content: space-between;
    display: flex;
}
.buscar input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 20px;
    color: #000;
    outline: none;
    border: 1px solid silver;
}
.search{
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #474997;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.logo{ 
        border-radius: 100%;
        width: 90px;
        position: relative;
        top: 3px;
        left: 4px;
}
.links{
    text-decoration: none;
    color: #802426;
    font-weight: bold;
    margin-right: 19px;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 40px;
   
}
*/
 
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    
}



.input-contenedor{
display: flex;


    
}

input{
border-radius: 30px;
height: 8px;
padding: 5px;
}


.menu-hamburguesa{
    visibility: visible;
    font-size: 15px;
    background-color: #0044aa;
    color: #fff;
    
    border-radius: 5px;
    width: 12px;
    height: 12px;
    padding: 8px;
   
}

.contenedor-registro{
display: none;
}


li{
    
    list-style: none;
}

ul li a{
    font-size: 12px;
    color: white;
    padding-right: 30px;
    text-decoration:none;
    padding-left: 20px;
   
    
}

ul li a:hover{
color:#0044aa
}
.banner{
    width: 100%;
}

main{
    background-image: url("/images/1b54e4f67408c08995992bacc9e8b802.jpg");
}

h3{
 font-family: 'Courier New', Courier, monospace;
text-align: center;

}

.paragraphs{
    font-size: .8em;
    color: aquamarine;
}

img{
    width: 50%
}
    
.descripcion{
    font-size: 10px;
    color: black;
}

.precio{
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 50px;
    background-image: url("/images/1b54e4f67408c08995992bacc9e8b802.jpg");
}


.contenedor-1{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-bottom: 40px; 
}

.art-img{
    width: 100%;
}

 .article-1{
    background-color: #ffffff;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
    border-radius: 16px;
    box-shadow: 1px 5px 10px 5px;
    color: #345b88;
    padding-bottom: 15px;
}

.article-1 a{
    text-decoration: none;
}


.descripcion{
font-size: 12px;
}

.precio{
    font-size: 14px;

}

.categorias-box{
padding: 20px;
padding-bottom: 30px;
}

.nombre-categoria{
    color: #9df5ba;
}


.contenedor-2-1, .contenedor-2-2{
    display: flex;
}


.art-categoria-1, .art-categoria-2, .art-categoria-3, .art-categoria-4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
   
}


p{
    text-align: center;
    color: #fff;
}

.img-categorias{
    border-radius: 50%;
}

h4{
    font-size: 130%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #9df5ba;
}

.que-buscas{
    padding: 0px;
}

.bonus-center{
    padding-top: 20px;
    padding-bottom: 20px;
    color:#c2c2ec;
    
}


.quienes-somos{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    text-align: justify;
    
}

.contenedor-footer{
display: flex;
padding-left: 7px;
}

.titulo-footer{
font-size: 12px;
}

.parrafo-footer{
    font-size: 10px;
}


.pie{
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 3px;
}

@media (min-width:450px){

 .banner{
    width: 100%;
 }
    .article-1{
    width: 24%;
    }

    .contenedor-1{
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width:768px){

    .header{
        height: 10px;
        display: flex;
        flex-direction: column;
         align-items: center;
         position: relative;
         bottom: 50px;
         font-size: 40px;
    }
    

    .banner{
        height: 180px;
    }

   .menu-hamburguesa{
    display: none;
   }


.logo{
    width: 130px;
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
    
}
      
    .icono{
       padding-left: 7px;
       color: #5353d8;
    }

    h3{
        padding: 30px;
        color: rgb(255, 247, 0);
        font-family: 'Courier New', Courier, monospace;
        font-size: 3rem;
       
    }

   .paragraphs{
    font-size: 30px;
    padding-bottom: 30px;
   }

    
    .article-1{
        width: 18%;
        }

    .descripcion{
        font-size: 16px;
        padding-bottom: 5px;
    }

   
    .precio{
        margin-top: 15px;
        padding: 2px 30px 2px 30px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        border-radius: 50px;
        background-image: url("/images/1b54e4f67408c08995992bacc9e8b802.jpg");
    }

    .contenedor-1{
        padding-bottom: 160px;
    }

    .categorias-box{
   display: flex;
   padding-bottom: 80px;
        }

    .contenedor-2-1{
   width: 100%;
    }
     
    .bonus-center{
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-bottom: 60px;
    }

    .quienes-somos{
        font-size: 15px;
    } 

    h4{
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }

    .contenedor-2-1{
        font-size: 30px;
    } 

    footer{
        background-color: #24093be4;
        
        display: flex;
        padding: 0 20px;
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column; 
    }
    .footer-logo{
        display: flex;
        justify-content: center;
    }
    .contenedor-footer{
        display: flex;
        text-align: center;
    }

    .contactanos{
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
        color: #cdc6c6;
    }
    .enlaces{
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
        color: #cdc6c6;
    }
    .social{
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
        color:#cdc6c6;
    }
    .pago-icons{
        position: relative;
        left: 550px;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
    .pie{
        color: #89838e;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 20px;
        text-align: center;
    }
}