*{
    margin: 1px;
    border: 0%;
    padding: 0%;
    border:0;
}
 
body{
    font-style: oblique;
    background-color: rgb(229, 233, 233)
}

.logo{  
    border-radius: 100%;
    width: 70px;
    position: relative;
    top: 3px;
    left: 4px;
}

input{
position: relative;
bottom: 30px;
left: 5px;
border: 2px solid black;
border-radius: 30px;
}


.menu-hamburguesa{
    position: relative;
    left: 8px;
    bottom: 28px;
    font-size: 15px;
    background-color: #0044aa;
    color: #fff;
    border-radius: 5px;
    height: 13px;
    width: 13px;
    padding: 8px;
}

.banner{
    width: 100%;
}

h3{
text-align: center;
margin-bottom: 10px;
}

img{
    width: 50%
}
    
.descripcion{
    font-size: 10px;
}

.precio{
    font-size: 12px;
}


.contenedor-1{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-bottom: 30px; 

}

.art-img{
    width: 100%;
    
}

 .article-1{
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 1px 3px 10px 1px;
}

.categorias-box{
padding: 20px;
}


.contenedor-2-1, .contenedor-2-2{
    display: flex;
}


.art-categoria-1, .art-categoria-2, .art-categoria-3, .art-categoria-4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
}



p{
    text-align: center
}

.img-categorias{
    border-radius: 50%;
}
h4{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.bonus-center{
padding: 10px;
text-align: justify;
}

.parrafo-pie{
    background-color: #fff;
    border: 1px solid rgb(251, 255, 2);
    padding: 10px;
    box-shadow: 1px 3px 10px 1px;
    border-radius: 10px;
}

.quienes-somos{
    text-align: justify;
}

@media (min-width:350px){
    .article-1{
    width: 25%;
    }

    .contenedor-1{
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width:768px){

    
    .article-1{
        width: 17%;
        }

    .categorias-box{
   display: flex;
        }

        .contenedor-2-1{
   width: 100%;
        }
    }


